@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');

:root {
    --cordofundo: #005792; /* Azul escuro */
    --cordofundodestaque: #003354; /* Azul mais escuro */

    --cordafonte: #ffffff; /* Branco */

    --cordofundoconteudo: #ffffff; /* Branco */
    --cordafonteconteudo: #005792; /* Azul escuro */

    --corbotaonovo: #4CAF50; /* Verde */
    --corbotaoalterar: #FFC107; /* Amarelo */
    --corbotaoexcluir: #F44336; /* Vermelho */
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: var(--cordofundo);
    color: var(--cordafonte);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    border-bottom: 2px solid var(--cordofundodestaque);
    transition: all 0.5s ease-in-out;
}

.cabecalho a {
    color: var(--cordafonte);
}

.cabecalho:hover {
    background-color: #004372; /* Um tom intermediário de azul */
}

.cabecalho-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.cabecalho-logo-texto {
    font-family: "Oleo Script", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    text-shadow: 2px 2px 5px var(--cordofundodestaque);
}

.cabecalho-logo-imagem {
    height: 80px;
    margin-right: 30px;
    transition: transform 2s ease;
    /* Adiciona uma transição suave */
}

.cabecalho-logo-imagem:hover {
    transform: rotate(360deg);
    /* Rotaciona a imagem em 360 graus */
}

.cabecalho-menu-navegacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.cabecalho-menu-navegacao-item {
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
    transition: all 1s ease;

}

.cabecalho-menu-navegacao-item:hover {
    color: var(--cordofundo);
    border-bottom: 1px solid var(--cordafonte);
    font-size: 30px;
}

.conteudo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--cordofundoconteudo);
    color: var(--cordafonteconteudo);
    padding-top: 10px;
    padding-bottom: 10px;
    overflow-y: auto;
}

.conteudo-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 80px;
}


.conteudo-texto-superior {
    display: flex;
    flex-direction: column;
}

.conteudo-texto-superior-h1 {
    font-family: "Oleo Script", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 150px;
    margin-top: 10px;
    text-shadow: 5px 5px 5px var(--cordofundodestaque);
}

.conteudo-texto-superior-h2 {
    color: var(--cordafonteconteudo);
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    text-align: right;
}

.conteudo-texto-inferior {
    display: flex;
    flex-direction: column;
}

.conteudo-texto-inferior-h3 {
    border-bottom: 3px solid var(--cordafonte);
    font-size: 40px;
    margin-bottom: 10px;
    transition: all 0.5s ease;
}

.conteudo-texto-inferior-h3:hover {
    border-bottom: 2px solid var(--cordafonteconteudo);
}

.conteudo-texto-inferior-servicos-item {
    list-style: none;
    margin-bottom: 10px;
    text-align: center;
}

.conteudo-texto-inferior-servicos-item:hover {
    text-shadow: 1px 1px 2px var(--cordofundodestaque);
}

.conteudo-ilustracao-imagem {
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.8));
}

.conteudo-ilustracao-imagem:hover {
    filter: drop-shadow(0px 0px 15px rgba(255, 0, 0, 0.8));
}

.conteudo-dados {
    padding: 20px 30px 20px 30px;
    background-color: var(--cordofundoconteudo);
    color: var(--cordafonteconteudo);
    height: 70vh;
    overflow-y: auto;
    /* habilita a barra de rolagem vertical quando necessário */
}

.conteudo-dados-titulo {
    font-size: 40px;
}

table {
    width: 100%;
    /* Define a largura da tabela como 100% da largura do contêiner pai */
    border-collapse: collapse;
    /* Colapsa as bordas das células da tabela */
    margin-top: 20px;
    /* Adiciona uma margem superior de 20 pixels */
}

th,
td {
    border: 1px solid var(--cordofundodestaque);
    /* Adiciona uma borda de 1 pixel sólido cinza claro */
    padding: 8px;
    /* Adiciona preenchimento interno de 8 pixels */
    text-align: center;
    /* Alinha o texto à esquerda */
}

thead {
    background-color: var(--cordofundo);
    color: var(--cordafonte);
}

.tr-registro {
    transition: all 0.3s ease;
}

.tr-registro:hover {
    background-color: var(--cordofundodestaque);
    color: var(--cordafonte);
    font-size: 18px;
}

.conteudo-dados-novo{
    margin: 20px 0px 20px 30px;
}

.conteudo-dados-acao-novo,
.conteudo-dados-acao-alterar,
.conteudo-dados-acao-excluir {
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    color: var(--cordafonte);
    border:none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    transition: all 0.5s ease;
}

.conteudo-dados-acao-novo{
    background-color: var(--corbotaonovo);

}

.conteudo-dados-acao-alterar{
    background-color: var(--corbotaoalterar);
}

.conteudo-dados-acao-excluir{
    background-color: var(--corbotaoexcluir);
}

.conteudo-dados-acao-novo:hover{
    font-weight: 700;

}

.conteudo-dados-acao-alterar:hover{
    font-weight: 700;
}

.conteudo-dados-acao-excluir:hover{
    font-weight: 700;
}




.rodape {
    border-top: 3px solid var(--cordofundodestaque);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.rodape-autor-nome {
    color: var(--cordafonte);
    font-size: 20px;
}

.rodape-contato {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.rodape-contato-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--cordafonte);
    transition: all 0.5s ease;
}

.rodape-contato-link-icone {
    font-size: 24px;
}

.rodape-contato-link:hover {
    opacity: 0.5;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}



.chat-whatsapp {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9999;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cordofundoconteudo);
    border: 3px solid var(--cordofundodestaque);
    border-radius: 100px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    /* sombra da div */
}

.chat-whatsapp:hover {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
    /* sombra da div */
}


.chat-whatsapp-icone {
    color: var(--cordafonteconteudo);
    font-size: 80px;
}

.chat-whatspp-legenda {
    color: var(--cordafonteconteudo);
    font-size: 16px;
}